{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{% static '/wolves/base.css' %}">
</head>
<body>

    {% block navbar %}
    <nav class="navbar">

        <div class="logo"><a href="{% url 'index' %}">Wolves</a></div>

        <ul class="nav-links">
            {% if user.is_authenticated %}
                <div class="username">{{ request.user.username }}</div>
                <li class="logout"><a href="{% url 'signout' %}">Log Out</a></li>
            {% else %}
                <li class="login"><a href="{% url 'signin' %}">Log In</a></li>
                <li class="signup"><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>

    </nav>
    {% endblock navbar %}

    <div class="content">
        {% block content %}{% endblock content %}
    </div>
    
</body>
</html>