<table>
        <h3>Player List:</h3> <br>
        <tr>
                <th>Sl. No</th>
                <th>Player Name</th>
                <th>Player Role</th>
        </tr>
        {% for p in players %}
        <tr>
            <td>{{ loop.counter }}</td>
            <td>{{ p.user.username }}</td>
            {% if user.player.role == 1 or p.role == 1%}
                <td>{{p.role }}</td>
            {% else %}
                <td><i>Restricted Data</i></td>td>
            {% endif %}
       </tr>
        {% endfor %}
</table>
